<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Indentifié en tant que : {{ app.user.username }}</br>
    © 2022 Copyright:
    <a class="text-dark" href="https://github.com/Andrea-DeClercq/LeBonCoin">TPEval Symfony</a> 
  </div>
  <!-- Copyright -->
</footer>